[submodule "thirdparty/InfiniteYou"]
	path = thirdparty/InfiniteYou
	url = git@github.com:bytedance/InfiniteYou.git
[submodule "thirdparty/DiptychPrompting"]
	path = thirdparty/DiptychPrompting
	url = https://github.com/chaehunshin/DiptychPrompting.git
